#NÃºPeDIA - Estudo Sobre Pandas

<img style = "100px" src = "" alt = "Uninter"> <img style = "10px" src = "" alt = "Pandas">

Projeto desenvolvido em 2018 pelo **NÃºcleo de Pesquisa e Desenolvimento de InteligÃªncia Artificial** (NÃºPeDIA) da **Uninter**, com o objetivo de construir um corretor ortogrÃ¡fico a partir de estudos sobre PLN (Processamento de LÃ­nguagem Natural) e redes neurais.

Esse notebook foi escrito para introduzir os alunos iniciantes sobre os primeiros passos de **Pandas** e outras tÃ©cnicas de manipulaÃ§Ã£o de dados, sendo uma releitura e traduÃ§Ã£o do livro [Natural Language Processing With Python](http://www.nltk.org/book "Livro Natural Language Processing With Python").

##IntroduÃ§Ã£o

###DefiniÃ§Ã£o

Pandas (Panel Datas) Ã© uma **biblioteca** que possibilita a anÃ¡lise e manipulaÃ§Ã£o de dados estruturados , sendo muito utilizada na programaÃ§Ã£o cientÃ­fica e em Machine Learn, por se tratar de ferramentas prÃ¡ticas e que nÃ£o necessitam de outras linguagens como o R.

Diferente do **NumPy**, o Pandas **nÃ£o faz parte da instalaÃ§Ã£o padrÃ£o do Python**, porÃ©m, quando utilizamos o **Anaconda**, ele Ã© instalado automaticamente.

###AplicaÃ§Ãµes

1.   **ManipulaÃ§Ã£o de Dados:** AtravÃ©s de Time Series ou Data Frames, de forma rÃ¡pida, Ã¡gil e com indexaÃ§Ã£o integrada. 

2.   **AnÃ¡lise de Dados:** Ler, escrever, alinhar, marcar, fatiar (slicing), agrupar, unir, concatenar, fazer histogramas, correlaÃ§Ãµes e diversas outras funÃ§Ãµes.

3.   **Ãreas de AplicaÃ§Ã£o:** Mercado financeiro, NeurociÃªncia,  Economia, EstatÃ­stica, Publicidade e muito mais.

###Como Importar o Pandas

Para utilizar o Pandas, Ã© necessÃ¡rio importar a sua biblioteca:

In [1]:
import pandas as pd

TambÃ©m Ã© possÃ­vel importar somente uma **SÃ©rie** ou **Data Frame**:

In [2]:
from pandas import Series

In [3]:
from pandas import DataFrame

##Conceitos

###Series

####IntroduÃ§Ã£o

Ã um array unidimensional que contÃ©m um array de dados e um array de labels, chamado **Ã­ndices** ou **index**.

In [4]:
from pandas import Series #Lembrando que poderia ser usado import pandas as pd

Para demonstraÃ§Ã£o, vamos utilizar o mÃ©todo **Series()** e como parÃ¢metros os valores que queremos criar dentro da sÃ©rie

In [5]:
obj = Series([1, 2, 3, 4, 5])  #Criando sÃ©rie sem especificar os Ã­ndices.

Na primeira coluna temos os **Ã­ndices** criados automaticamente e na segunda os valores usados como parÃ¢metros.

In [6]:
obj   #Imprime a sÃ©rie

0    1
1    2
2    3
3    4
4    5
dtype: int64

Podemos analisar que **obj** Ã© do tipo **Series** pertencendo ao **Pandas**

In [7]:
type(obj)

pandas.core.series.Series

TambÃ©m podemos exibir os valores dos parÃ¢metros escolhidos

In [8]:
obj.values

array([1, 2, 3, 4, 5])

Percebe-se que os Ã­ndices sÃ£o uma sÃ©rie de dados que comeÃ§am em 0, finalizam em 5 (esse nÃºmero Ã© o limite e nÃ£o Ã© contabilizado), com intervalo de 1 em 1.

In [9]:
obj.index

RangeIndex(start=0, stop=5, step=1)

Ã possÃ­vel criar sÃ©ries especificando os Ã­ndices:

In [10]:
obj2 = Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd']) #Trocou-se os valores gerados pelo pandas por letras
obj2    #Imprime serie

a    1
b    2
c    3
d    4
dtype: int64

####Selecionando Dados

Podemos fazer a mesma anÃ¡lise anterior para **obj2**.

In [11]:
type(obj2)

pandas.core.series.Series

In [12]:
obj2.values

array([1, 2, 3, 4])

In [13]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Vamos delimitar a visualizaÃ§Ã£o dos dados com **tÃ©cnicas de fatiamento (slice)** de forma simples:

In [14]:
obj2[obj2 > 3]  #Imprime valores da sÃ©rie obj2 que sejam maiores que 3

d    4
dtype: int64

In [15]:
obj2['b']       #Mostra os elementos de uma posiÃ§Ã£o especifica do Ã­ndice

2

In [16]:
'd' in obj2     #Confere se 'd' existe dentro do obj2 retornando valores de True ou False

True

####SÃ©ries e DicionÃ¡rios

NÃ³s podemoscriar sÃ©ries utilizando dicionÃ¡rios, a seguir, o elemento entre aspas Ã© considerado uma **palavra-chave** e o nÃºmero apÃ³s os : Ã© um **valor** atribuÃ­do a ela. Note que as palavras-chaves tornaram-se os Ã­ndices e os valores sÃ£o os parÃ¢metros da sÃ©rie.

In [17]:
dic = {'Futebol': 5200, 'Tenis': 120, 'Volei': 300} # Futebol (palavra-chave) : 5200 (valor)  
obj3 = Series(dic)                                  #Criando sÃ©rie usando um dicionÃ¡rio
obj3

Futebol    5200
Tenis       120
Volei       300
dtype: int64

####SÃ©ries e Listas

O conceito explicado em dicionÃ¡rios tambÃ©m pode ser aplicado para **listas**, porÃ©m, ao definir a lista **esportes**, perceba que sÃ£o listados apenas os valores desejados, sem necessitar da palavra-chave:

In [18]:
dic = {'Futebol': 5200, 'Tenis': 120, 'Volei': 300}
esportes = ['Futebol', 'Volei', 'NataÃ§Ã£o']    #Criando uma lista 
obj4 = Series(dic, index = esportes)          #Criando uma sÃ©rie e utilizando a lista como Ã­ndice
obj4

Futebol    5200.0
Volei       300.0
NataÃ§Ã£o       NaN
dtype: float64

Comparando **obj3** com **obj4** percebe-se que existem valores **nulos**, isso ocorre porque os valores da lista nÃ£o correspondem ao valores do dicionÃ¡rio. Ã necessÃ¡rio tomar cuidado, pois em alguns casos, os valores nulos podem ajudar ou atrapalhar a anÃ¡lise.

In [19]:
pd.isnull(obj4)      #Confere se existe um valor nulo. Retornando True ou False

Futebol    False
Volei      False
NataÃ§Ã£o     True
dtype: bool

In [20]:
pd.notnull(obj4)     #Comando inverso, confere se nÃ£o existe valor nulo. Retorna True ou False

Futebol     True
Volei       True
NataÃ§Ã£o    False
dtype: bool

TambÃ©m podemos contabilizar a quantidade de valores nulos

In [21]:
pd.isnull(obj4).sum()

1

####OperaÃ§Ãµes

Existem diversas operaÃ§Ãµes que podem ser feitas com listas e dicionÃ¡rios, abaixo, temos alguns exemplos:

In [22]:
obj3 + obj4                   #Concatenar duas ou mais sÃ©ries

Futebol    10400.0
NataÃ§Ã£o        NaN
Tenis          NaN
Volei        600.0
dtype: float64

In [23]:
obj4.name = 'populacao'       #Adicionando um nome para a SÃ©rie
obj4

Futebol    5200.0
Volei       300.0
NataÃ§Ã£o       NaN
Name: populacao, dtype: float64

In [24]:
obj4.index.name = 'esportes'  #Adicionando nome para o Ã­ndice
obj4

esportes
Futebol    5200.0
Volei       300.0
NataÃ§Ã£o       NaN
Name: populacao, dtype: float64

###Data Frames

Data Frames representam uma estrutura tabular semelhante a uma **planilha do Excel**, contendo uma coleÃ§Ã£o de colunas em que cada uma pode ter um tipo de valor diferente (nÃºmero, string, etc). Os Data Frames possuem **index** e **linhas** e essa estrutura Ã© muito semelhante em R.

 Os dados de um Data Frame sÃ£o armazenados em um ou mais blocos bidimensionais, ao invÃ©s de listas, dicionÃ¡rios ou alguma outra estrutura de array. Eles sÃ£o conjuntos de elementos de tipos distintos.

In [25]:
from pandas import DataFrame

   Vamos demonstrar outra maneira de criar um **dicionÃ¡rio**, atravÃ©s de **chave + lista de valores**:

In [26]:
data = {'Estado': ['ParanÃ¡', 'Bahia', 'SÃ£o Paulo'], 'Ano': [1999, 2004, 1995], 'PopulaÃ§Ã£o': [4, 3, 2]}  
data

{'Estado': ['ParanÃ¡', 'Bahia', 'SÃ£o Paulo'],
 'Ano': [1999, 2004, 1995],
 'PopulaÃ§Ã£o': [4, 3, 2]}

Ao utilizar o mÃ©todo **DataFrame()** passando o dicionÃ¡rio anterior como parÃ¢metro, as **chaves** tornam-se os **tÃ­tulos da coluna**, os **Ã­ndices** foram gerados **automaticamente** e os elementos foram adicionados em suas respectivas chaves.

In [27]:
frame = DataFrame(data)      #MÃ©todo DataFrame() usando o dicionÃ¡rio data como parametro
frame

      Estado   Ano  PopulaÃ§Ã£o
0     ParanÃ¡  1999          4
1      Bahia  2004          3
2  SÃ£o Paulo  1995          2

Para organizar os dados, podemos alterar a ordem das colunas:

In [28]:
DataFrame(data, columns = ['Ano', 'Estado', 'PopulaÃ§Ã£o'])

    Ano     Estado  PopulaÃ§Ã£o
0  1999     ParanÃ¡          4
1  2004      Bahia          3
2  1995  SÃ£o Paulo          2

Agora vamos adicionar uma coluna, perceba que trocou-se as **labels** (rÃ³tulos) do **index**.

In [29]:
frame2 =  DataFrame(data, columns = ['Ano', 'Estado', 'PopulaÃ§Ã£o', 'DÃ©bito'], index = ['um', 'dois','tres'])
frame2

       Ano     Estado  PopulaÃ§Ã£o DÃ©bito
um    1999     ParanÃ¡          4    NaN
dois  2004      Bahia          3    NaN
tres  1995  SÃ£o Paulo          2    NaN

Para deixar mais explÃ­cito, veja a coluna adicionada.

In [30]:
frame2['DÃ©bito']  #Usando Slice (Fatiamento) e mostrando apenas a coluna DÃ©bito

um      NaN
dois    NaN
tres    NaN
Name: DÃ©bito, dtype: object

###Numpy e Pandas

Para completar as colunas que ficaram vazias, importaremos o **NumPy**:

In [31]:
import numpy as np

Cada coluna do Data Frame Ã© um array unidimensional, nesse caso, criaremos um **array** (conjunto de elementos do mesmo tipo) utilizando o numpy, selecionando a coluna que serÃ¡ preenchida.

O mÃ©todo **arange()** cria um array com um tamanho especÃ­ficado, nesse caso, selecionamos 3 posiÃ§Ãµes.

In [32]:
frame2['DÃ©bito'] = np. arange(3.)
frame2['DÃ©bito']

um      0.0
dois    1.0
tres    2.0
Name: DÃ©bito, dtype: float64

Assim como explicado antes, tambÃ©m Ã© possÃ­vel verificar o tipo do Data Frame, selecionar colunas de modo simples, selecionar linhas, dentre muitas outras opÃ§Ãµes:

In [33]:
frame2.dtypes #Tipos dos dados de um Data Frame

Ano            int64
Estado        object
PopulaÃ§Ã£o      int64
DÃ©bito       float64
dtype: object

In [34]:
frame2['Ano'] #Exibe apenas uma coluna

um      1999
dois    2004
tres    1995
Name: Ano, dtype: int64

In [35]:
frame2.Ano    #Outra notaÃ§Ã£o para exibir uma coluna

um      1999
dois    2004
tres    1995
Name: Ano, dtype: int64

In [36]:
frame2[:2]    #Selecionando todas as colunas atÃ© a linha 2

       Ano  Estado  PopulaÃ§Ã£o  DÃ©bito
um    1999  ParanÃ¡          4     0.0
dois  2004   Bahia          3     1.0

###Manipulando o Data Frame

Vamos aplicar alguns conceitos de seleÃ§Ã£o e apresentaÃ§Ã£o de dados, inicialmente, vamos utilizar um dicionÃ¡rio:

In [37]:
dic2 = {'Dias':[1, 2, 3, 4], 'Visitantes':[12, 13, 14, 15], 'Taxas': [10, 5, 20, 15]}
df = pd.DataFrame(dic2)
df

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5
2     3          14     20
3     4          15     15

Para considerar uma determinada **coluna** como **Ã­ndice**, usamos o comando **set_index()**. PorÃ©m, Ã© necessÃ¡rio ter cuidado, pois o valor inicial do Ã­ndice em alguns casos, **nÃ£o serÃ¡ zero** (como Ã© gerado automaticamente pelo Python) e sim o **valor da coluna**.

Esse comando, **nÃ£o altera o dataframe original**, ele apenas imprime as informaÃ§Ãµes considerando a mudanÃ§a de index:

In [38]:
df.set_index('Dias') #Imprime o df considerando que a coluna Dias serÃ¡ o Ã­ndice

      Visitantes  Taxas
Dias
1             12     10
2             13      5
3             14     20
4             15     15

In [39]:
df  # Data Frame original nÃ£o foi alterado

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5
2     3          14     20
3     4          15     15

####VisualizaÃ§Ã£o

Uma das partes mais importantes para a anÃ¡lise de dados Ã© a sua visualizaÃ§Ã£o, e com certeza, vocÃª presenciarÃ¡ com frequÃªncia o comando **head()** que mostra os primeiros 5 elementos do seu Data Frame e do comando **tail()** que mostra os 5 Ãºltimos.

Como nosso exemplo possui poucos elementos, podemos escolher a quantidade elementos que serÃ£o exibidos

In [40]:
df.head(2)

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5

In [41]:
df.tail(2)

   Dias  Visitantes  Taxas
2     3          14     20
3     4          15     15

Outros comandos muito Ãºteis sÃ£o:

In [42]:
df.info()      #Resume informaÃ§Ãµes sobre o Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dias        4 non-null      int64
 1   Visitantes  4 non-null      int64
 2   Taxas       4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

In [43]:
df.describe()     #Mostra estatÃ­sticas bÃ¡sicas do Data Frame (contagem, mÃ©dia, desvio padrÃ£o, mÃ­nimo, mÃ¡ximo e porcentagens dos quartis).

           Dias  Visitantes      Taxas
count  4.000000    4.000000   4.000000
mean   2.500000   13.500000  12.500000
std    1.290994    1.290994   6.454972
min    1.000000   12.000000   5.000000
25%    1.750000   12.750000   8.750000
50%    2.500000   13.500000  12.500000
75%    3.250000   14.250000  16.250000
max    4.000000   15.000000  20.000000

Em alguns casos, Ã© necessÃ¡rio adicionar condiÃ§Ãµes especÃ­ficas para filtrar os dados, alÃ©m de podermos selecionÃ¡-los em apenas uma coluna.

In [44]:
df['Dias'].head()  #Exibe os 5 primeiros elementos apenas da coluna Dias

0    1
1    2
2    3
3    4
Name: Dias, dtype: int64

Essas condiÃ§Ãµes podem ser elaboradas, como o caso abaixo que exibe os 3 primeiros elementos que tenham a coluna **Dias** com valores maiores que 0.1:

In [45]:
df[df.Dias > 0.1].head(3)

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5
2     3          14     20

TambÃ©m Ã© possÃ­vel utilizar **operadores lÃ³gicos** (AND ou OR, por exemplo) para obter dados mais especÃ­ficos. No exemplo abaixo estamos utilizando o operador **AND**, logo, ele exibirÃ¡ todos os dados que satisfaÃ§am as **duas condiÃ§Ãµes**, retornando os valores da coluna **Dias** que sejam maiores que 0.1 **e** da coluna **Taxas** que sejam menores que 15.

In [46]:
df[(df.Dias > 0.1) & (df.Taxas < 15)]

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5

####ManipulaÃ§Ã£o de Dados

#####Copy

Antes de realizar algumas alteraÃ§Ã£o importante no Data Frame original, Ã© importante **copiar** seus dados para evitar riscos de perdas ou quebra do cÃ³digo.

In [47]:
df2 = df.copy()           #Copia o Data Frame inteiro
df2

   Dias  Visitantes  Taxas
0     1          12     10
1     2          13      5
2     3          14     20
3     4          15     15

#####Join

Ã possÃ­vel **juntar** dois Data Frames em um sÃ³, porÃ©m, Ã© preciso tomar cuidado, pois a **ordem** altera o resultado. Para o nosso exemplo, vamos criar dois Data Frames a partir de **frame** (Data Frame utilizado anteriormente) selecionando a coluna **Ano** e posteriormente a coluna **Estado**.

In [48]:
df3 = DataFrame(frame['Ano'])  #Copia apenas uma parte, neste caso, apenas  a coluna rSDSS
df3

    Ano
0  1999
1  2004
2  1995

In [49]:
df4 = DataFrame(frame['Estado'])
df4

      Estado
0     ParanÃ¡
1      Bahia
2  SÃ£o Paulo

Ao aplicar o **join()** perceba que os Data Frames ficarÃ£o unidos em uma Ãºnica tabela. Note tambÃ©m que a ordem dos elementos altera a visualizaÃ§Ã£o.

In [50]:
df5 = df3.join(df4)     #IrÃ¡ mesclar o df3 ao df4
df5

    Ano     Estado
0  1999     ParanÃ¡
1  2004      Bahia
2  1995  SÃ£o Paulo

In [51]:
df6 = df4.join(df3)     #IrÃ¡ alterar a ordem, mesclando df4 ao df3
df6

      Estado   Ano
0     ParanÃ¡  1999
1      Bahia  2004
2  SÃ£o Paulo  1995

#####Merge

Utilizado para fundir dois Data Frames, sendo **similar ao Join**, porÃ©m,  Ã© necessÃ¡rio existir **uma coluna em comum** entre os dois.

In [52]:
df7 = pd.merge(df3, df6)       #A coluna Ano existe em ambos os Data Frames
df7

    Ano     Estado
0  1999     ParanÃ¡
1  2004      Bahia
2  1995  SÃ£o Paulo

###Leitura de Arquivos

O Pandas Ã© capaz de ler diversos tipos de arquivos atravÃ©s do camando **read_tipodoarquivo**. Nesse documento, vamos exemplificar alguns tipos mais usados, porÃ©m, para saber mais a respeito, indicamos a leitura da documentaÃ§Ã£o.



*   **read_table:** Leitura de arquivos .txt no formato ASC
*   **read_csv:** Leitura de arquivo csv (Comma Separate Value â Os dados sÃ£o separados por vÃ­rgulas).
*   **read_excel:** Leitura de arquivo Excel
*   **read_sql:** Leitura de arquivos SQL (utilizado em banco de dados)
*   **read_json:** Leitura de arquivos json (LÃ­nguagem de programaÃ§Ã£o Web)

Nesse exemplo, a variÃ¡vel **df** recebe a leitura da tabela em **nome do arquivo.txt - em forma de string (entre aspas)** e Ã© separada pelos espaÃ§os em branco.

**Nota: Para abrir um arquivo utilizando o Google Colab, clique em Arquivos na barra lateral esquerda e selecione Fazer upload, posteriormente, escolha a pasta onde estÃ¡ salvo o arquivo verbos.txt**

In [53]:
df = pd.read_table('verbos.txt', delim_whitespace=True) 
df

FileNotFoundError: ignored

#####Arquivo CSV

Para criar um Data Frame a partir de um arquivo CSV utiliza-se o mÃ©todo **read_csv()**. Geralmente, cria-se um Data Frame com Pandas a partir de uma fonte de dados, que pode ser um arquivo CSV, banco de dados relacional, banco de dados SQL, planilha do Excel, etc.

**Nota: Para abrir um arquivo utilizando o Google Colab, clique em Arquivos na barra lateral esquerda e selecione Fazer upload, posteriormente, escolha a pasta onde estÃ¡ salvo o arquivo exemplo.csv**

In [ ]:
df = pd.read_csv('exemplo.csv')
df

TambÃ©m Ã© possÃ­vel usar o mÃ©todo **read_table()**, porÃ©m, diferente do mÃ©todo anterior, Ã© necessÃ¡rio definir qual serÃ¡ o separador:

**O separador tambÃ©m funciona no exemplo anterior**

In [ ]:
df = pd.read_table('exemplo.csv', sep = ';')  #LÃª a tabela separando as colunas por ponto e vÃ­rgula virgulas.
df

Para o comando a seguir Ã© necessÃ¡rio **atenÃ§Ã£o**, pois no **Mac** e no **Linux**, ele executa as primeiras linhas do arquivo. No **Windows** Ã© necessÃ¡rio escrever **!type**.

In [ ]:
!head exemplo.csv

In [ ]:
!pwd   #Exibe o diretÃ³rio

Do mesmo modo que descrevemos anteriormente, podemos nomear as colunas:

In [ ]:
df = pd.read_csv('exemplo.csv', sep =';', names = ['a', 'b', 'c'])
df

#####Converter Data Frame em Arquivo CSV

Para converter um **Data Frame** em um **arquivo CSV** Ã© necessÃ¡rio importar a **biblioteca sys**.

Ela permite a utilizaÃ§Ã£o do mÃ©todo **stdout()** que converte o Data Frame para CSV e nesse caso, modificou o separador para | que separam as colunas e seus respectivos dados.

In [ ]:
type(frame)

In [ ]:
import sys
frame = frame.to_csv(sys.stdout, sep = '|')

###GrÃ¡ficos

Existem diversos tipos de grÃ¡ficos, para o nosso estudo, nos focaremos em **Histogramas** que sÃ£o utilizados para dados que contenham um **rÃ³tulo** e um **valor**. Antes de tudo, Ã© necessÃ¡rio importar a biblioteca **matplotlib** que possibilita a manipulaÃ§Ã£o e criaÃ§Ã£o dessas representaÃ§Ãµes:

In [ ]:
import matplotlib.pyplot as plt   # Importa a biblioteca matplotlib
frame2.hist()                        #MÃ©todo para criar histogramas
plt.show()                        #Comando do matplotlib para exibir o grÃ¡fico

Para criar o histograma de apenas uma coluna, utilizamos:

In [ ]:
frame2['Ano'].hist()    #Cria um histograma da coluna rSDSS
plt.show()

TambÃ©m podemos fazer um histograma da coluna **Ano** selecionando a quantidade de barras, refinando e melhorando o design do grÃ¡fico.

In [ ]:
frame2['Ano'].hist(bins=5)

###CorrelaÃ§Ã£o entre Dados

A correlaÃ§Ã£o Ã© uma ferramenta estatÃ­stica que ajuda a ter uma visÃ£o geral dos dados que possuem algo em comum.

In [ ]:
frame2.corr()   # Correlaciona todo o Data Frame

In [ ]:
frame2['Ano'].corr(frame2['PopulaÃ§Ã£o'])   #Correlaciona colunas especÃ­ficas, nesse caso, entre Ano e PopulaÃ§Ã£o

##ConclusÃ£o

Esse notebook apresentou uma introduÃ§Ã£o sobre conceitos importantes de manipulaÃ§Ã£o e organizaÃ§Ã£o de dados. Esses assuntos estÃ£o presentes em Ã¡reas da computaÃ§Ã£o como: Data Science, Machine Learn, AnÃ¡lise de Sistemas, dentre muitos outros. Espero que tenha te ajudado a dar os primeiros passos e que estimule a sua criatividade e curiosidade durante o seu processo de aprendizado.